- content_for :title do
  = "Вход"

%div#normal 
- form_for @user_session, :url => user_session_path do |f|
  = f.error_messages
  %p
    = f.label :email 
  %p
    = f.text_field :email 
  %p
    = f.label :password 
  %p
    = f.password_field :password 
  %p
    = f.check_box :remember_me
    = f.label :remember_me
  #buttons
    = f.submit "Login"

